/* TOP SECTION */

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height:5rem;
}

.title-container {
    width:40%;
    border: 3px solid #bababa;
}

.title {
    font-weight:bold;
}


/* MIDDLE SECTION */

.chat-wrapper {
    display:flex;
    justify-content: center;
    height:40rem;
}

.border-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #E3E9F3;
    border-left: 3px solid #bababa;
    border-right: 3px solid #bababa;
    overflow-y: scroll;
}

    /* AGENT */

    .agent-wrapper {
        width: 22rem;
        text-align:left;
        background-color: #E3E9F3;
        padding-left:1rem;
        padding-right:1rem;
        height:100%;
    }

    .agent-message {
        margin-top: 1rem;
        word-wrap: break-word; 
        padding-bottom: 1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
    }

    .agentTimestamp{
        font-weight:bold;
        font-size: 0.85rem;
        margin-bottom: -0.75rem;
    }

    .agentMessage {
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:white;
        border: 2px solid white;
        border-radius: 0.5rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    /* Icon / Shared between Agent and User */

    .icon-wrapper {
        padding-top: 1.5rem;
        display:flex;
        flex-direction: column;
    }

    .icon {
        color: darkseagreen;
    }

    .holiday {
        margin-top:1rem;
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:white;
        border: 2px solid white;
        border-radius: 0.5rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .reference {
        font-weight: bold;
    }

    /* USER */

    .user-wrapper {
        width: 22rem;
        text-align: right;
        background-color: #E3E9F3;
        padding-right: 1rem;
        padding-left: 1rem;
        height:100%;
    }

    .user-message {
        margin-top: 1rem;
        word-wrap: break-word;
        padding-bottom: 1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
    }

    .user-message .place {
        color:transparent;
    }

    .user-message .icon {
        color: transparent;
    }

    .userTimestamp{
        font-weight:bold;
        font-size: 0.85rem;
        margin-bottom: -0.75rem;
        color: #5B84FF;
    };

    .userMessage {
        margin-left:auto;
        width: fit-content;
        max-width: 90%;
        background-color: #5B84FF;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        white-space: pre-wrap;
        border: 2px solid #5B84FF;
        border-radius: 0.5rem;
        color:white;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    };

    .userImg {
        visibility: hidden;
    }

    /* HIDDEN */

    .hidden {
        margin-top: 1rem;
        background-color: transparent;
        color: transparent;
        word-wrap: break-word;
        padding-bottom:1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
        /* -webkit-user-select: none; Safari
        user-select: none; */
    }

    .hidden .icon {
        color: transparent;
    }

    .hidden .holiday {
        margin-top:1rem;
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:transparent;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        box-shadow: none;
    }

    .hidden .userMessage {
        background-color: transparent;
        border-color: transparent;
        color: transparent;
        box-shadow: none;
        
    }
      
    .hidden .userTimestamp {
        color: transparent;
    }
      
    .hidden .agentMessage {
        background-color: transparent;
        border-color: transparent;
        color: transparent;
        box-shadow: none;
    }

    /* Scroll Bar */

    ::-webkit-scrollbar {
        width: 5px;
    }
      
    ::-webkit-scrollbar-track{
        background: #E3E9F3; 
    }
      
    ::-webkit-scrollbar-thumb{
        background: #5B84FF;
        cursor: pointer;
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb:hover{
        background: #3467ff;
    }


/* BOTTOM SECTION */

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height:5rem;
}

.input-container {
    width:40%;
    border: 3px solid #bababa;
    height:fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.text-input {
    width:70%;
    margin-left:1%;
    height: 2rem;
    border: 2px solid #bababa;
    border-radius: 0.5rem;
    background-color: white;
    padding-left:0.75rem;
    padding-right:0.75rem;
    font-size:large;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
  
.text-input:focus {
    outline:none;
}

.sendBtn {
    width: 20%;
    margin-right:1%;
    border: 2px solid #5B84FF;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #5B84FF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    font-size:large;
}
  
.sendBtn:hover {
    border-color: #3467ff;
    background-color: #3467ff;
  
}

.resetBtn {
    width: 20%;
    margin-right:1%;
    border: 2px solid #5B84FF;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #5B84FF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    font-size:large;
    display: none;
}

/* General */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}/* TOP SECTION */

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height:5rem;
}

.title-container {
    width:40%;
    border: 3px solid #bababa;
}

.title {
    font-weight:bold;
}


/* MIDDLE SECTION */

.chat-wrapper {
    display:flex;
    justify-content: center;
    height:40rem;
}

.border-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #E3E9F3;
    border-left: 3px solid #bababa;
    border-right: 3px solid #bababa;
    overflow-y: scroll;
}

    /* AGENT */

    .agent-wrapper {
        width: 22rem;
        text-align:left;
        background-color: #E3E9F3;
        padding-left:1rem;
        padding-right:1rem;
        height:100%;
    }

    .agent-message {
        margin-top: 1rem;
        word-wrap: break-word; 
        padding-bottom: 1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
    }

    .agentTimestamp{
        font-weight:bold;
        font-size: 0.85rem;
        margin-bottom: -0.75rem;
    }

    .agentMessage {
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:white;
        border: 2px solid white;
        border-radius: 0.5rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    /* Icon / Shared between Agent and User */

    .icon-wrapper {
        padding-top: 1.5rem;
        display:flex;
        flex-direction: column;
    }

    .icon {
        color: darkseagreen;
    }

    .holiday {
        margin-top:1rem;
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:white;
        border: 2px solid white;
        border-radius: 0.5rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .reference {
        font-weight: bold;
    }

    /* USER */

    .user-wrapper {
        width: 22rem;
        text-align: right;
        background-color: #E3E9F3;
        padding-right: 1rem;
        padding-left: 1rem;
        height:100%;
    }

    .user-message {
        margin-top: 1rem;
        word-wrap: break-word;
        padding-bottom: 1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
    }

    .user-message .place {
        color:transparent;
    }

    .user-message .icon {
        color: transparent;
    }

    .userTimestamp{
        font-weight:bold;
        font-size: 0.85rem;
        margin-bottom: -0.75rem;
        color: #5B84FF;
    }

    .userMessage {
        margin-left:auto;
        width: fit-content;
        max-width: 90%;
        background-color: #5B84FF;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        white-space: pre-wrap;
        border: 2px solid #5B84FF;
        border-radius: 0.5rem;
        color:white;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .userImg {
        visibility: hidden;
    }

    /* HIDDEN */

    .hidden {
        margin-top: 1rem;
        background-color: transparent;
        color: transparent;
        word-wrap: break-word;
        padding-bottom:1rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 17% 3% 80%;
        -webkit-user-select: none;
        user-select: none;
    }

    .hidden .icon {
        color: transparent;
    }

    .hidden .holiday {
        margin-top:1rem;
        width: fit-content;
        max-width: 90%;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color:transparent;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        box-shadow: none;
    }

    .hidden .userMessage {
        background-color: transparent;
        border-color: transparent;
        color: transparent;
        box-shadow: none;
        
    }
      
    .hidden .userTimestamp {
        color: transparent;
    }
      
    .hidden .agentMessage {
        background-color: transparent;
        border-color: transparent;
        color: transparent;
        box-shadow: none;
    }

    /* Scroll Bar */

    ::-webkit-scrollbar {
        width: 5px;
    }
      
    ::-webkit-scrollbar-track{
        background: #E3E9F3; 
    }
      
    ::-webkit-scrollbar-thumb{
        background: #5B84FF;
        cursor: pointer;
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb:hover{
        background: #3467ff;
    }


/* BOTTOM SECTION */

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height:5rem;
}

.input-container {
    width:40%;
    border: 3px solid #bababa;
    height:fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.text-input {
    width:70%;
    margin-left:1%;
    height: 2rem;
    border: 2px solid #bababa;
    border-radius: 0.5rem;
    background-color: white;
    padding-left:0.75rem;
    padding-right:0.75rem;
    font-size:large;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
  
.text-input:focus {
    outline:none;
}

.sendBtn {
    width: 20%;
    margin-right:1%;
    border: 2px solid #5B84FF;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #5B84FF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    font-size:large;
}
  
.sendBtn:hover {
    border-color: #3467ff;
    background-color: #3467ff;
  
}

.resetBtn {
    width: 20%;
    margin-right:1%;
    border: 2px solid #5B84FF;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #5B84FF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    font-size:large;
    display: none;
}

/* General */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}